force-app/main/default/flows/asynchUpdateOrderItemAccounts.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>53.0</apiVersion>
    <assignments>
        <name>assignOrderItemAccountsFromOrder</name>
        <label>assignOrderItemAccountsFromOrder</label>
        <locationX>528</locationX>
        <locationY>680</locationY>
        <assignmentItems>
            <assignToReference>Update_Order_Item_Accounts_Loop.vlocity_cmt__BillingAccountId__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.vlocity_cmt__DefaultBillingAccountId__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Update_Order_Item_Accounts_Loop.vlocity_cmt__ServiceAccountId__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.vlocity_cmt__DefaultServiceAccountId__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>pushUpdateItemToFinalList</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>pushUpdateItemToFinalList</name>
        <label>pushUpdateItemToFinalList</label>
        <locationX>661</locationX>
        <locationY>687</locationY>
        <assignmentItems>
            <assignToReference>listToBeUpdated</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Update_Order_Item_Accounts_Loop</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Order_Item_Accounts_Loop</targetReference>
        </connector>
    </assignments>
    <description>to Update Billing/Service Accounts on all Order Items based on Order Level Info</description>
    <interviewLabel>asynchUpdateOrderItemAccounts {!$Flow.CurrentDateTime}</interviewLabel>
    <label>asynchUpdateOrderItemAccounts</label>
    <loops>
        <name>Update_Order_Item_Accounts_Loop</name>
        <label>Update Order Item Accounts Loop</label>
        <locationX>212</locationX>
        <locationY>575</locationY>
        <collectionReference>getAllOrderItems</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>assignOrderItemAccountsFromOrder</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>dmlUpdateAllOrderItemsRecords</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>getAllOrderItems</name>
        <label>getAllOrderItems</label>
        <locationX>220</locationX>
        <locationY>428</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_Order_Item_Accounts_Loop</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OrderId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>OrderItem</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>dmlUpdateAllOrderItemsRecords</name>
        <label>dmlUpdateAllOrderItemsRecords</label>
        <locationX>614</locationX>
        <locationY>402</locationY>
        <inputReference>listToBeUpdated</inputReference>
    </recordUpdates>
    <start>
        <locationX>51</locationX>
        <locationY>50</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>vlocity_cmt__OrderStatus__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Type</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Move</stringValue>
            </value>
        </filters>
        <object>Order</object>
        <recordTriggerType>Update</recordTriggerType>
        <scheduledPaths>
            <connector>
                <targetReference>getAllOrderItems</targetReference>
            </connector>
            <pathType>AsyncAfterCommit</pathType>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>listToBeUpdated</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OrderItem</objectType>
    </variables>
</Flow>
