force-app/main/default/flows/Main_Dunning_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>invoiceVIP</name>
        <label>invoiceVIP</label>
        <locationX>974</locationX>
        <locationY>1130</locationY>
        <actionName>invokeIntegrationProcedureFromFlow</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>executionMode</name>
            <value>
                <elementReference>executionMode</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>input</name>
            <value>
                <elementReference>accountId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>procedureAPIName</name>
            <value>
                <elementReference>procedureName</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>53.0</apiVersion>
    <constants>
        <name>ActiveStatus</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Active</stringValue>
        </value>
    </constants>
    <constants>
        <description>BIL_PerformDunningAction</description>
        <name>BIL_PerformDunningAction</name>
        <dataType>String</dataType>
        <value>
            <stringValue>BIL_PerformDunningAction</stringValue>
        </value>
    </constants>
    <constants>
        <name>BillingRelatedEventType</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Billing-Related</stringValue>
        </value>
    </constants>
    <constants>
        <name>CancelledStatus</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Cancelled</stringValue>
        </value>
    </constants>
    <constants>
        <name>DelinquentStatus</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Delinquent</stringValue>
        </value>
    </constants>
    <constants>
        <name>ForCancellationEvent</name>
        <dataType>String</dataType>
        <value>
            <stringValue>For Cancellation</stringValue>
        </value>
    </constants>
    <constants>
        <name>ForSuspensionEvent</name>
        <dataType>String</dataType>
        <value>
            <stringValue>For Suspension</stringValue>
        </value>
    </constants>
    <constants>
        <name>GraceDaysAppliedStatus</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Grace Days Applied</stringValue>
        </value>
    </constants>
    <constants>
        <name>PaymentProcessedStatus</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Payment Processed</stringValue>
        </value>
    </constants>
    <constants>
        <name>QueueableExecutionMode</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Queueable</stringValue>
        </value>
    </constants>
    <constants>
        <name>SuspendedStatus</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Suspended</stringValue>
        </value>
    </constants>
    <decisions>
        <name>Payment_and_Billing_Status</name>
        <label>Payment and Billing Status</label>
        <locationX>974</locationX>
        <locationY>434</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Active_to_Delinquent</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Event__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>DelinquentStatus</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Latest_Billing_Status.Billing_Event__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>ActiveStatus</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Delinquent_Billing_Event</targetReference>
            </connector>
            <label>Active to Delinquent</label>
        </rules>
        <rules>
            <name>Delinquent_to_Suspended</name>
            <conditionLogic>1 AND (2 OR 3)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Event__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>SuspendedStatus</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Latest_Billing_Status.Billing_Event__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>DelinquentStatus</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Latest_Billing_Status.Billing_Event__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>GraceDaysAppliedStatus</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Suspended_Billing_Event</targetReference>
            </connector>
            <label>Delinquent/GDA to Suspended</label>
        </rules>
        <rules>
            <name>Suspended_to_Cancelled</name>
            <conditionLogic>1 AND (2 OR 3)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Event__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>CancelledStatus</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Latest_Billing_Status.Billing_Event__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>SuspendedStatus</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Latest_Billing_Status.Billing_Event__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>GraceDaysAppliedStatus</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Cancelled_Billing_Event</targetReference>
            </connector>
            <label>Suspended/GDA to Cancelled</label>
        </rules>
        <rules>
            <name>Payment_Processed</name>
            <conditionLogic>1 AND (2 OR 3 OR 4)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Event__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>PaymentProcessedStatus</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Latest_Billing_Status.Billing_Event__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>DelinquentStatus</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Latest_Billing_Status.Billing_Event__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>SuspendedStatus</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Latest_Billing_Status.Billing_Event__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>GraceDaysAppliedStatus</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Payment_Processed_Billing_Event</targetReference>
            </connector>
            <label>Payment Processed</label>
        </rules>
        <rules>
            <name>Payment_Processed_to_Active</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Event__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>ActiveStatus</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Latest_Billing_Status.Billing_Event__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>PaymentProcessedStatus</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Active_Billing_Event</targetReference>
            </connector>
            <label>Payment Processed to Active</label>
        </rules>
        <rules>
            <name>Delinquent_to_GDA</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Event__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>GraceDaysAppliedStatus</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Latest_Billing_Status.Billing_Event__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>DelinquentStatus</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GDA_Delinquent_Billing_Event</targetReference>
            </connector>
            <label>Delinquent to GDA</label>
        </rules>
        <rules>
            <name>Suspended_to_GDA</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Event__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>GraceDaysAppliedStatus</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Latest_Billing_Status.Billing_Event__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>SuspendedStatus</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GDA_Suspended_Billing_Event</targetReference>
            </connector>
            <label>Suspended to GDA</label>
        </rules>
    </decisions>
    <description>Convert Date datatype fields and relevant formulas to DateTime</description>
    <formulas>
        <name>DateNow</name>
        <dataType>DateTime</dataType>
        <expression>NOW()</expression>
    </formulas>
    <formulas>
        <name>GDA_SuspensionDate</name>
        <dataType>Date</dataType>
        <expression>{!Billing_Account.Suspension_Date__c} + 15</expression>
    </formulas>
    <formulas>
        <name>NullDate</name>
        <dataType>Date</dataType>
        <expression>NULL</expression>
    </formulas>
    <formulas>
        <name>Plus160Days</name>
        <dataType>Date</dataType>
        <expression>{!$Record.CreatedDate} + 160</expression>
    </formulas>
    <formulas>
        <name>Plus40Days</name>
        <dataType>Date</dataType>
        <expression>{!$Record.CreatedDate} + 40</expression>
    </formulas>
    <interviewLabel>Main Dunning Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Main Dunning Flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Active_Billing_Event</name>
        <label>Active Billing Event</label>
        <locationX>1106</locationX>
        <locationY>554</locationY>
        <connector>
            <targetReference>Active_Account</targetReference>
        </connector>
        <inputAssignments>
            <field>Account__c</field>
            <value>
                <elementReference>Billing_Account.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Billing_Event__c</field>
            <value>
                <elementReference>ActiveStatus</elementReference>
            </value>
        </inputAssignments>
        <object>Billing_Events__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Cancelled_Billing_Event</name>
        <label>Cancelled Billing Event</label>
        <locationX>578</locationX>
        <locationY>554</locationY>
        <connector>
            <targetReference>Cancelled_Account</targetReference>
        </connector>
        <inputAssignments>
            <field>Account__c</field>
            <value>
                <elementReference>Billing_Account.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Billing_Event__c</field>
            <value>
                <elementReference>CancelledStatus</elementReference>
            </value>
        </inputAssignments>
        <object>Billing_Events__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Delinquent_Billing_Event</name>
        <label>Delinquent Billing Event</label>
        <locationX>50</locationX>
        <locationY>554</locationY>
        <connector>
            <targetReference>Delinquent_Account</targetReference>
        </connector>
        <inputAssignments>
            <field>Account__c</field>
            <value>
                <elementReference>Billing_Account.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Actionable_Future_Event_Time__c</field>
            <value>
                <elementReference>Plus40Days</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Actionable_Future_Event__c</field>
            <value>
                <elementReference>ForSuspensionEvent</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Billing_Event__c</field>
            <value>
                <elementReference>DelinquentStatus</elementReference>
            </value>
        </inputAssignments>
        <object>Billing_Events__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>GDA_Delinquent_Billing_Event</name>
        <label>GDA Delinquent Billing Event</label>
        <locationX>1370</locationX>
        <locationY>554</locationY>
        <connector>
            <targetReference>GDA_Delinquent_Account</targetReference>
        </connector>
        <inputAssignments>
            <field>Account__c</field>
            <value>
                <elementReference>Billing_Account.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Actionable_Future_Event_Time__c</field>
            <value>
                <elementReference>GDA_SuspensionDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Actionable_Future_Event__c</field>
            <value>
                <elementReference>ForSuspensionEvent</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Billing_Event__c</field>
            <value>
                <elementReference>GraceDaysAppliedStatus</elementReference>
            </value>
        </inputAssignments>
        <object>Billing_Events__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>GDA_Suspended_Billing_Event</name>
        <label>GDA Suspended Billing Event</label>
        <locationX>1634</locationX>
        <locationY>554</locationY>
        <connector>
            <targetReference>GDA_Suspended_Account</targetReference>
        </connector>
        <inputAssignments>
            <field>Account__c</field>
            <value>
                <elementReference>Billing_Account.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Actionable_Future_Event_Time__c</field>
            <value>
                <elementReference>GDA_SuspensionDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Actionable_Future_Event__c</field>
            <value>
                <elementReference>ForSuspensionEvent</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Billing_Event__c</field>
            <value>
                <elementReference>GraceDaysAppliedStatus</elementReference>
            </value>
        </inputAssignments>
        <object>Billing_Events__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Payment_Processed_Billing_Event</name>
        <label>Payment Processed Billing Event</label>
        <locationX>842</locationX>
        <locationY>554</locationY>
        <connector>
            <targetReference>Payment_Processed_Account</targetReference>
        </connector>
        <inputAssignments>
            <field>Account__c</field>
            <value>
                <elementReference>Billing_Account.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Billing_Event__c</field>
            <value>
                <elementReference>PaymentProcessedStatus</elementReference>
            </value>
        </inputAssignments>
        <object>Billing_Events__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Publish_Event_for_Activation</name>
        <label>Publish Event for Activation</label>
        <locationX>842</locationX>
        <locationY>794</locationY>
        <inputAssignments>
            <field>Billing_Account_Id__c</field>
            <value>
                <elementReference>Billing_Account.Account_Id__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Event__c</field>
            <value>
                <elementReference>ActiveStatus</elementReference>
            </value>
        </inputAssignments>
        <object>Billing_Events_Queue__e</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Suspended_Billing_Event</name>
        <label>Suspended Billing Event</label>
        <locationX>314</locationX>
        <locationY>554</locationY>
        <connector>
            <targetReference>Suspended_Account</targetReference>
        </connector>
        <inputAssignments>
            <field>Account__c</field>
            <value>
                <elementReference>Billing_Account.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Actionable_Future_Event_Time__c</field>
            <value>
                <elementReference>Billing_Account.Cancellation_Date__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Actionable_Future_Event__c</field>
            <value>
                <elementReference>ForCancellationEvent</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Billing_Event__c</field>
            <value>
                <elementReference>SuspendedStatus</elementReference>
            </value>
        </inputAssignments>
        <object>Billing_Events__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Billing_Account</name>
        <label>Billing Account</label>
        <locationX>974</locationX>
        <locationY>194</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Latest_Billing_Status</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Account_Id__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Billing_Account_Id__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Latest_Billing_Status</name>
        <label>Latest Billing Status</label>
        <locationX>974</locationX>
        <locationY>314</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Payment_and_Billing_Status</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Billing_Account_Id__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Billing_Account.Account_Id__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Event_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>BillingRelatedEventType</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Billing_Events__c</object>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Active_Account</name>
        <label>Active Account</label>
        <locationX>1106</locationX>
        <locationY>674</locationY>
        <connector>
            <targetReference>invoiceVIP</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Account_Id__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Billing_Account_Id__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Initial_Delinquency_Date__c</field>
            <value>
                <elementReference>NullDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>vlocity_cmt__Status__c</field>
            <value>
                <elementReference>ActiveStatus</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <recordUpdates>
        <name>Cancelled_Account</name>
        <label>Cancelled Account</label>
        <locationX>578</locationX>
        <locationY>674</locationY>
        <connector>
            <targetReference>invoiceVIP</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Account_Id__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Billing_Account_Id__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>vlocity_cmt__Status__c</field>
            <value>
                <elementReference>CancelledStatus</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <recordUpdates>
        <name>Delinquent_Account</name>
        <label>Delinquent Account</label>
        <locationX>50</locationX>
        <locationY>674</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Account_Id__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Billing_Account_Id__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Cancellation_Date__c</field>
            <value>
                <elementReference>Plus160Days</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Initial_Delinquency_Date__c</field>
            <value>
                <elementReference>DateNow</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Suspension_Date__c</field>
            <value>
                <elementReference>Plus40Days</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>vlocity_cmt__Status__c</field>
            <value>
                <elementReference>DelinquentStatus</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <recordUpdates>
        <name>GDA_Delinquent_Account</name>
        <label>GDA Delinquent Account</label>
        <locationX>1370</locationX>
        <locationY>674</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Account_Id__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Billing_Account_Id__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Suspension_Date__c</field>
            <value>
                <elementReference>GDA_SuspensionDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>vlocity_cmt__Status__c</field>
            <value>
                <elementReference>GraceDaysAppliedStatus</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <recordUpdates>
        <name>GDA_Suspended_Account</name>
        <label>GDA Suspended Account</label>
        <locationX>1634</locationX>
        <locationY>674</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Account_Id__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Billing_Account_Id__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Suspension_Date__c</field>
            <value>
                <elementReference>GDA_SuspensionDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>vlocity_cmt__Status__c</field>
            <value>
                <elementReference>GraceDaysAppliedStatus</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <recordUpdates>
        <name>Payment_Processed_Account</name>
        <label>Payment Processed Account</label>
        <locationX>842</locationX>
        <locationY>674</locationY>
        <connector>
            <targetReference>Publish_Event_for_Activation</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Account_Id__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Billing_Account_Id__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Cancellation_Date__c</field>
            <value>
                <elementReference>NullDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Suspension_Date__c</field>
            <value>
                <elementReference>NullDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>vlocity_cmt__Status__c</field>
            <value>
                <elementReference>PaymentProcessedStatus</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <recordUpdates>
        <name>Suspended_Account</name>
        <label>Suspended Account</label>
        <locationX>314</locationX>
        <locationY>674</locationY>
        <connector>
            <targetReference>invoiceVIP</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Account_Id__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Billing_Account_Id__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>vlocity_cmt__Status__c</field>
            <value>
                <elementReference>SuspendedStatus</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <start>
        <locationX>848</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Billing_Account</targetReference>
        </connector>
        <object>Billing_Events_Queue__e</object>
        <triggerType>PlatformEvent</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>accountId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <elementReference>Billing_Account.Id</elementReference>
        </value>
    </variables>
    <variables>
        <name>DebugBillingAccountId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>DebugEventName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>executionMode</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <elementReference>QueueableExecutionMode</elementReference>
        </value>
    </variables>
    <variables>
        <name>procedureName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <elementReference>BIL_PerformDunningAction</elementReference>
        </value>
    </variables>
</Flow>
