force-app/main/default/flows/Suspension_and_Cancellation.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>invokeVIP</name>
        <label>invokeVIP</label>
        <locationX>792</locationX>
        <locationY>636</locationY>
        <actionName>invokeIntegrationProcedureFromFlow</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Accounts</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>executionMode</name>
            <value>
                <elementReference>executionMode</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>input</name>
            <value>
                <elementReference>accountId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>procedureAPIName</name>
            <value>
                <elementReference>procedureName</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>53.0</apiVersion>
    <assignments>
        <name>Create_New_Cancellation_Event_Add_to_Collection</name>
        <label>Create New Cancellation Event/Add to Collection</label>
        <locationX>528</locationX>
        <locationY>636</locationY>
        <assignmentItems>
            <assignToReference>NewEvents.Billing_Account_Id__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Accounts.Account_Id__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewEvents.Event__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CancelledStatus</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AllNewEvents</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>NewEvents</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Accounts</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Create_New_Suspension_Event_Add_to_Collection</name>
        <label>Create New Suspension Event/Add to Collection</label>
        <locationX>264</locationX>
        <locationY>636</locationY>
        <assignmentItems>
            <assignToReference>NewEvents.Billing_Account_Id__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Accounts.Account_Id__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewEvents.Event__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SuspendedStatus</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AllNewEvents</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>NewEvents</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Accounts</targetReference>
        </connector>
    </assignments>
    <constants>
        <name>CancelledStatus</name>
        <dataType>String</dataType>
        <value>
            <stringValue>CANCELLED</stringValue>
        </value>
    </constants>
    <constants>
        <name>DelinquentStatus</name>
        <dataType>String</dataType>
        <value>
            <stringValue>DELINQUENT</stringValue>
        </value>
    </constants>
    <constants>
        <name>ForCancellationEvent</name>
        <dataType>String</dataType>
        <value>
            <stringValue>FOR CANCELLATION</stringValue>
        </value>
    </constants>
    <constants>
        <name>GraceDaysAppliedStatus</name>
        <dataType>String</dataType>
        <value>
            <stringValue>GRACE DAYS APPLIED</stringValue>
        </value>
    </constants>
    <constants>
        <name>SuspendedStatus</name>
        <dataType>String</dataType>
        <value>
            <stringValue>SUSPENDED</stringValue>
        </value>
    </constants>
    <constants>
        <name>x100DaysDelinquent</name>
        <dataType>Number</dataType>
        <value>
            <numberValue>100.0</numberValue>
        </value>
    </constants>
    <decisions>
        <name>Billing_Status</name>
        <label>Billing Status</label>
        <locationX>660</locationX>
        <locationY>516</locationY>
        <defaultConnector>
            <targetReference>Accounts</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>For_Suspension</name>
            <conditionLogic>(1 OR 2) AND 3</conditionLogic>
            <conditions>
                <leftValueReference>Accounts.vlocity_cmt__Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>DelinquentStatus</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Accounts.vlocity_cmt__Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>GraceDaysAppliedStatus</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Accounts.Suspension_Date__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>DateNow</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_New_Suspension_Event_Add_to_Collection</targetReference>
            </connector>
            <label>For Suspension</label>
        </rules>
        <rules>
            <name>For_Cancellation</name>
            <conditionLogic>(1 OR 2) AND 3</conditionLogic>
            <conditions>
                <leftValueReference>Accounts.vlocity_cmt__Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>SuspendedStatus</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Accounts.vlocity_cmt__Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>GraceDaysAppliedStatus</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Accounts.Cancellation_Date__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>DateNow</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_New_Cancellation_Event_Add_to_Collection</targetReference>
            </connector>
            <label>For Cancellation</label>
        </rules>
        <rules>
            <name>x100th_Day_of_Delinquency</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Accounts.Days_Delinquent__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>x100DaysDelinquent</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>invokeVIP</targetReference>
            </connector>
            <label>100th day of Delinquency</label>
        </rules>
    </decisions>
    <description>Add 100th Day Delinquency trigger scenario (not yet complete). Refactored create records loop</description>
    <formulas>
        <name>DateNow</name>
        <dataType>DateTime</dataType>
        <expression>NOW()</expression>
    </formulas>
    <interviewLabel>DUNNING PROCESS: Suspension and Cancellation {!$Flow.CurrentDateTime}</interviewLabel>
    <label>[DUNNING] Suspension and Cancellation</label>
    <loops>
        <name>Accounts</name>
        <label>Accounts</label>
        <locationX>176</locationX>
        <locationY>396</locationY>
        <collectionReference>Accounts_For_Suspension_and_Cancellation</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Billing_Status</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Publish_Events</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Publish_Events</name>
        <label>Publish Events</label>
        <locationX>176</locationX>
        <locationY>948</locationY>
        <inputReference>AllNewEvents</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Accounts_For_Suspension_and_Cancellation</name>
        <label>Accounts For Suspension and Cancellation</label>
        <locationX>176</locationX>
        <locationY>276</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Accounts</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>Suspension_Date__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>DateNow</elementReference>
            </value>
        </filters>
        <filters>
            <field>Cancellation_Date__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>DateNow</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Accounts_For_Suspension_and_Cancellation</targetReference>
        </connector>
        <schedule>
            <frequency>Daily</frequency>
            <startDate>2021-10-28</startDate>
            <startTime>02:00:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>accountId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>Accounts.Id</elementReference>
        </value>
    </variables>
    <variables>
        <name>AllNewEvents</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Billing_Events_Queue__e</objectType>
    </variables>
    <variables>
        <name>EventToBe</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>executionMode</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ForSuspensionEvent</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>SuspendedStatus</elementReference>
        </value>
    </variables>
    <variables>
        <name>NewEvents</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Billing_Events_Queue__e</objectType>
    </variables>
    <variables>
        <name>procedureName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
